In [1]:
import numpy as np 
import pandas as pd
import os
import glob
import re
import sys

import plotnine
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import animation, rc
import geopandas as gpd
from shapely.geometry import Point, Polygon, LineString
import plotly.express as px
import folium
import branca
import json

In [2]:
files = glob.glob('dataset/*.csv')
data = []
for i in files :
    i = re.sub("dataset/", "", i)
    data.append(re.sub(".csv","",i))
for i in range(len(files)) :
    globals()[data[i]] = pd.read_csv(files[i])
data

['SeoulFloating',
 'TimeAge',
 'SearchTrend',
 'TimeProvince',
 'Weather',
 'PatientRoute',
 'PatientInfo',
 'Region',
 'TimeGender',
 'Case',
 'Time']

In [9]:
PatientInfo.head()

,patient_id,global_num,sex,birth_year,age,country,province,city,disease,infection_case,infection_order,infected_by,contact_number,symptom_onset_date,confirmed_date,released_date,deceased_date,state
0,1000000001,2.0,male,1964.0,50s,Korea,Seoul,Gangseo-gu,NaN,overseas inflow,1.0,NaN,75.0,2020-01-22,2020-01-23,2020-02-05,NaN,released
1,1000000002,5.0,male,1987.0,30s,Korea,Seoul,Jungnang-gu,NaN,overseas inflow,1.0,NaN,31.0,NaN,2020-01-30,2020-03-02,NaN,released
2,1000000003,6.0,male,1964.0,50s,Korea,Seoul,Jongno-gu,NaN,contact with patient,2.0,2.002000e+09,17.0,NaN,2020-01-30,2020-02-19,NaN,released
3,1000000004,7.0,male,1991.0,20s,Korea,Seoul,Mapo-gu,NaN,overseas inflow,1.0,NaN,9.0,2020-01-26,2020-01-30,2020-02-15,NaN,released
4,1000000005,9.0,female,1992.0,20s,Korea,Seoul,Seongbuk-gu,NaN,contact with patient,2.0,1.000000e+09,2.0,NaN,2020-01-31,2020-02-24,NaN,released

In [19]:
len(PatientInfo)

3128

In [10]:
city_count = PatientInfo.city.value_counts()
city_count = pd.DataFrame(city_count).reset_index()
city_count.columns = ['city','count']

In [11]:
sigungu = gpd.read_file("sigungu")
city = sigungu[["SIG_ENG_NM","geometry"]]
city.columns = ['city' ,'geometry']

In [22]:
city

             city                                           geometry
0       Jongno-gu  POLYGON ((127.00864 37.58047, 127.00871 37.580...
1         Jung-gu  POLYGON ((127.02314 37.57196, 127.02336 37.571...
2      Yongsan-gu  POLYGON ((126.96918 37.55566, 126.96917 37.554...
3    Seongdong-gu  POLYGON ((127.04341 37.57234, 127.04524 37.571...
4     Gwangjin-gu  POLYGON ((127.10166 37.57240, 127.10224 37.572...
..            ...                                                ...
245   Hamyang-gun  POLYGON ((127.69596 35.75773, 127.69647 35.757...
246  Geochang-gun  POLYGON ((127.88313 35.90586, 127.88299 35.905...
247  Hapcheon-gun  POLYGON ((128.09861 35.83067, 128.09899 35.830...
248       Jeju-si  MULTIPOLYGON (((126.15092 33.30877, 126.15090 ...
249   Seogwipo-si  MULTIPOLYGON (((126.26745 33.11373, 126.26737 ...

[250 rows x 2 columns]

In [18]:
city_count[city_count.city == 'etc']

   city  count
16  etc     41

In [27]:
correction = list(set(city_count.city) - set(city.city))

In [43]:
test = city.city.replace(city.loc[city.city.str.contains('Ansan-si')].city,'Ansan-si')

In [49]:
for i in correction :
    city.city = city.city.replace(city[city.city.str.contains(i)].city,i)

In [51]:
set(city_count.city) - set(city.city)

{'Jeju-do', 'etc'}

In [54]:
city_count[city_count.city.str.contains('Seogwipo-si')]

Empty DataFrame
Columns: [city, count]
Index: []

In [55]:
city.city = city.city.replace(city[city.city.str.contains('Seogwipo-si')].city,'Jeju-do')
city.city = city.city.replace(city[city.city.str.contains('Jeju-si')].city,'Jeju-do')

/Users/seonwoolim/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy